.hf {
    font-family: 'Nova Mono', cursive;
}

.scp {
    font-family: 'Source Code Pro', monospace;
}

.hero-button {
    width: 120px !important;
    background:  white;
    color:  black !important;
    text-align: center;
    font-family: 'Nova Mono', cursive;
    text-transform: uppercase;
}

.content-section {
    position: relative;
    text-align: center;
    top: 10rem;
}

.header-title {
    font-size: 5rem;
    padding-top: 2.8rem;
}

.header-logo {
    float: right;
}
.header-logo img {
    width: 100px;
}

.footer-copyright {
    text-align: left;
}
.footer-buttons {
    text-align: right;
}

#nav-bar-logo {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-family: "Source Code Pro";
}

@media (max-width: 37.5em) {
    .header-title {
        font-size: 2rem;
        padding-top: 0.35rem;
    }
    .header-logo {
        float: left;
    }
    .header-logo img {
        width: 60px;
    }
    .footer-copyright {
        text-align: center;
    }
    .footer-buttons {
        text-align: center;
    }
}

@media (min-width: 37.56em) and (max-width: 62em) {
    .header-title {
        line-height: 85%;
        font-size: 3.5rem;
        padding-top: 0.2rem;
    }
    .header-logo {
        float: left;
    }
    .header-logo img {
        width: 100px;
    }
    .footer-copyright {
        text-align: center;
    }
    .footer-buttons {
        text-align: center;
    }
}

@media (min-width: 62.1em) and (max-width: 79.93em) {
    .header-title {
        line-height: 85%;
        font-size: 4rem;
        padding-top: 1.5rem;
    }
    .header-logo {
        float: left;
    }
    .header-logo img {
        width: 100px;
    }
    .footer-copyright {
        text-align: center;
    }
    .footer-buttons {
        text-align: center;
    }
    .hero-button {
        width: 95px !important;
    }
    .hero-button-list {
        text-align: center;
    }
}

.wrapper {
    background: None;
}