.hf {
    font-family: 'Nova Mono', cursive;
}

.scp {
    font-family: 'Source Code Pro', monospace;
}

.hero-button {
    width: 120px !important;
    background:  white;
    color:  black !important;
    text-align: center;
    font-family: 'Nova Mono', cursive;
}