.hf {
    font-family: 'Nova Mono', cursive;
}

.scp {
    font-family: 'Source Code Pro', monospace;
}

body {
    font-family: 'Source Code Pro', "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.index-bg {
    background: #1a1919 url('/img/brainbow.svg');
    background-repeat: no-repeat;
    background-size: 110vh;
    background-attachment: fixed;
}

@supports (-webkit-overflow-scrolling: touch) {
    .index-bg {
        background-position: top;
    }
}

@supports not (-webkit-overflow-scrolling: touch) {
    .index-bg {
        background-position: center;
    }
}

span.line {
    display: inline-block;
}

h1 {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}
h2 {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}
h3 {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}


/* Nav bar buttons */

.hero-button {
    width: 115px !important;
    background:  white;
    border: 1px solid white !important;
    color:  black !important;
    text-align: center;
    font-family: 'Nova Mono', cursive;
    font-weight: normal;
    text-transform: uppercase;
}

.mobile-but {
    top: -40px !important;
}

.orange-link {
    color: #F78633 !important;
    text-decoration: underline !important;
    text-decoration-color: #F78633 !important;
}

.white-link {
    color: #ffffff !important;
    text-decoration: underline !important;
    text-decoration-color: #ffffff !important;
}

a, a:active, a:focus, a:hover, a:visited {
    color: #ffffff;
}

p a:hover:after, span a:hover:after {
    color: #ffffff;
    background: transparent;
}

.but, a.link:after, p a:after, span a:after {
    background: white;
}

#home-button:hover, #home-button.index-selected {
    background-color: transparent;
    box-shadow: 0 0 0 1px white !important;
    color: white !important;
}
#about-button:hover, #about-button.about-selected {
    background: #FF3524;
    border: 1px solid #FF3524 !important;
    color: #1a1919 !important;
}
#visitor-button:hover, #visitor-button.visitors-selected {
    background: #10C4EE;
    border: 1px solid #10C4EE !important;
    color: #1a1919 !important;
}
#jury-button:hover, #jury-button.jury-selected {
    background: #F55BAA;
    border: 1px solid #F55BAA !important;
    color: #1a1919 !important;
}
#categories-button:hover, #categories-button.categories-selected {
    background: #FFE655;
    border: 1px solid #FFE655 !important;
    color: #1a1919 !important;
}
#schedule-button:hover, #schedule-button.schedule-selected {
    background: #6DC347;
    border: 1px solid #6DC347 !important;
    color: #1a1919 !important;
}
#location-button:hover, #location-button.location-selected {
    background: #F78633;
    border: 1px solid #F78633 !important;
    color: #1a1919 !important;
}
#sponsor-button:hover, #sponsor-button.sponsors-selected {
    background: #10C4EE;
    border: 1px solid #10C4EE !important;
    color: #1a1919 !important;
}
#faq-button:hover, #faq-button.faq-selected {
    background: #F55BAA;
    border: 1px solid #F55BAA !important;
    color: #1a1919 !important;
}

.text-green {
    color: #6DC347;
}

.text-white {
    color: white;
}

.text-blue {
    color: #10C4EE;
}

.text-orange {
    color: #F78633;
}

.text-pink {
   color: #F55BAA;
}
.content-section {
    position: relative;
    text-align: center;
    top: 5rem;
    padding-top: 12rem;
    padding-bottom: 8rem;
}

.faq-pt {
    padding-top: 120px;
}

.header-title {
    font-size: 5rem;
    padding-top: 2.8rem;
}

.header-logo {
    float: right;
}
.header-logo img {
    width: 100px;
}

.footer-copyright {
    text-align: left;
}
.footer-buttons {
    text-align: right;
}

.hero-padding {
    padding-top: 32vw !important;
}

#nav-bar-logo {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-family: "Source Code Pro", monospace;
}

.header {
    background-color: rgba(10.2%, 9.8%, 9.8%, 0.5)
}

.slogan {
    margin-top: 50vh;
    padding-top: 20vh;
}

.bg-black  {
    background-color: #1a1919 !important;
}

.bg-dark {
    background-color: #1a1919 !important;
}

.col-dark {
    color: #1a1919 !important;
}

.block-tab .block-detail:hover {
    background: #1a1919;
}
.jury-tr {
    text-align: right;
}

body {
    background-color: #1a1919;
}

.but:hover {
    background: white !important;
    color: #1a1919 !important;
}

li.active strong , p.active strong, .chooser li:hover strong  {
    color: #1a1919 !important;
}

.chooser li:hover {
    background: #fff;
    color: #1a1919 !important;
    border-bottom: 0
}

.overview a:hover span {
    text-decoration: underline;
}

.block-tabs.no-line-height li {
    line-height: normal !important;
}

.block-tabs li.active:before {
    border: none !important;
}

.about-block-left {
    display:block;
    width:40%;
}

.about-block-right {
    display:block;
    width: 40%;
    float: right;
    margin-left: 60%;
}

.contact-section {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.no-line-height {
    line-height: normal !important;
}

@media (max-width: 20em) {
    .slogan {
        margin-top: 40vh;
    }

    .overlay-bg-gradient-dark {
        background: rgba(26, 25, 25, .5) !important;
    }

    .overlay-xs-gradient-dark {
        background: rgba(26, 25, 25, .5);
        background: -moz-linear-gradient(top, rgba(26, 25, 25, .0) 0, rgba(26, 25, 25, .2) 32%, rgba(26, 25, 25, .5) 100%);
        background: -webkit-linear-gradient(top, rgba(26, 25, 25, .0) 0, rgba(26, 25, 25, .2) 32%, rgba(26, 25, 25, 0.5) 100%);
        background: linear-gradient(to bottom, rgba(26, 25, 25, .0) 0, rgba(26, 25, 25, .2) 32%, rgba(26, 25, 25, 0.5) 100%);
    }
}

@media (max-width: 37.5em) {
    .index-bg {
        background-position-y: 80px;
        background-position-x: -80vh;
        background-size: 150vh;
    }
    .header-title {
        font-size: 2rem;
        padding-top: 0.35rem;
    }
    .header-logo {
        float: left;
    }
    .faq-pt {
        padding-top: 30px;
    }
    .header-logo img {
        width: 60px;
    }
    .footer-copyright {
        text-align: center;
    }
    .footer-buttons {
        text-align: center;
    }
    .about-block-left {
        margin-top: 80px;
        display:block;
        width:100%;
    }
    .about-block-right {
        margin-top: 80px;
        display:block;
        width: 100%;
    }
    .jury-tr {
        text-align: left;
    }
    .hero-padding {
        padding-top: 32vw !important;
    }
    .content-section {
        padding-top: 2rem;
        padding-bottom: 0;
    }
}

@media (min-width: 37.56em) and (max-width: 62em) {
    .header-title {
        line-height: 85%;
        font-size: 3.5rem;
        padding-top: 0.2rem;
    }
    .header-logo {
        float: left;
    }
    .header-logo img {
        width: 100px;
    }
    .footer-copyright {
        text-align: center;
    }
    .footer-buttons {
        text-align: center;
    }
    .about-block-left {
        margin-top: 80px;
        display:block;
        width:100%;
    }
    .about-block-right {
        margin-top: 80px;
        display:block;
        width: 100%;
    }
    .content-section {
        padding-top: 5rem;
        padding-bottom: 0;
    }
}

@media (min-width: 62.1em) and (max-width: 79.93em) {
    .header-title {
        line-height: 85%;
        font-size: 4rem;
        padding-top: 1.5rem;
    }
    .header-logo {
        float: left;
    }
    .header-logo img {
        width: 100px;
    }
    .footer-copyright {
        text-align: center;
    }
    .footer-buttons {
        text-align: center;
    }
    .hero-button {
        width: 95px !important;
    }
    .hero-button-list {
        text-align: center;
    }
    .about-block-left {
        margin-top: 80px;
        display:block;
        width:100%;
    }
    .about-block-right {
        margin-top: 80px;
        display:block;
        width: 100%;
    }
}

.wrapper {
    background: None;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.col-center {
    float: none;
    margin-right: auto;
    margin-left: auto;
}

.block-tabs li {
    padding-left: 0;
}

.background-white {
    background-color: white;
}

.background-white img {
    horiz-align: center;
    display: block;
    margin: auto !important;
}

@media (min-width: 768px) {
    .platin {
        width: 30%;
    }
}

.platin-img {
    left: 10px;
    right: 10px;
}
.premium {
    height: 280px;
    position: relative;
}

.premium img {
    display:block;
    margin:auto;
}

.basic {
    height: 220px;
    position: relative;
}

.friends {
    height: 200px;
    position: relative;
}

.sponsor-row {
    background: white !important;
}


.sponsor-image {
    max-width: 80%;
    max-height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    /*margin: auto;*/
    transform: translate(-50%, -50%)
}

.sponsor-image{
    display: block;
    width: auto;
    height: auto;
}

.img-ratio {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.time {
    font-weight: bold !important;
}
.topic {
    font-weight: bold;
}

* {
    border-radius: 0 !important;
}

.but {
    color: #ffffff !important;
    font-weight: bold;
    text-align: center;
    background: rgba(26, 25, 25, 1) !important;
    border: 1px solid white;
    font-size: 32px !important;
    /*background: -moz-linear-gradient(45deg, #6DC347 0, #F78633 100%) !important;
    background: -webkit-linear-gradient(45deg, #6DC347 0, #F78633 100%) !important;
    background: linear-gradient(45deg, #6DC347 0, #F78633 100%) !important;*/
}

.gradient-text {
    /*background: -webkit-linear-gradient(left, #6DC347 30%, #F78633 65%);
    background: -moz-linear-gradient(left, #6DC347 30%, #F78633 65%);
    background: linear-gradient(left, #6DC347 30%, #F78633 65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    color: #10C4EE
}

.hero-content p {
    margin-bottom: 0;
}

.overlay-bg-gradient-dark {
    background: rgba(26, 25, 25, .5);
    background: -moz-linear-gradient(top, rgba(26, 25, 25, .0) 0, rgba(26, 25, 25, .2) 32%, rgba(26, 25, 25, .5) 100%);
    background: -webkit-linear-gradient(top, rgba(26, 25, 25, .0) 0, rgba(26, 25, 25, .2) 32%, rgba(26, 25, 25, 0.5) 100%);
    background: linear-gradient(to bottom, rgba(26, 25, 25, .0) 0, rgba(26, 25, 25, .2) 32%, rgba(26, 25, 25, 0.5) 100%);
}


.overlay-xs-gradient-dark {
}

.overlay-dark {
    background: rgba(26, 25, 25, .5);
}

.countdown {
    font-size: 2rem !important;
    font-weight: 500 !important;
}

