<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Metas -->
    <meta charset="utf-8">
    <title>OPENCODES Hackathon</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Css -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/base.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/main.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/flexslider.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/venobox.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/fonts.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/custom.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,700" rel="stylesheet">

    <!-- Tachyons -->
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.0/css/tachyons.min.css"/>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nova+Mono|Nova+Round|Source+Code+Pro" rel="stylesheet">
    <%= header %>
</head>
<body style="<%= style %>">

<!--Wrapper-->
<div class="wrapper">
    <!--Content section-->
    <section>
        <!--Header-->
        <header class="header">
            <!--Container-->
            <div class="container">
                <!--Row-->
                <div id="nav-bar-logo" class="row pt2 pl2 pr2">
                    <div class="col-md-2 col-xs-3" style="padding-right: 0">
                        <a class="scroll logo header-logo" href="#wrapper">
                            <img class="logo-img" src="img/och-logo.png"/>
                        </a>
                    </div>
                    <div class="col-md-10 col-xs-9 text-left">
                        <p class="hf pb3 header-title">OPENCODES Hackathon</p>
                    </div>
                </div>
                <div class="row pl2 pr2">
                    <div class="col-md-12 text-left pt3">
                        <nav class="main-nav">
                            <div class="toggle-mobile-but">
                                <a href="#" class="mobile-but">
                                    <div class="lines"></div>
                                </a>
                            </div>
                            <ul class="hero-button-list">
                                <li style="margin: 0"><a id="home-button" class="scroll hero-button" href="index.html">Home</a></li>
                                <li style="margin: 0"><a id="about-button" class="scroll hero-button" href="about.html">About</a></li>
                                <li style="margin: 0"><a id="visitor-button" class="scroll hero-button" href="visitors.html">For Visitors</a></li>
                                <li style="margin: 0"><a id="jury-button" class="scroll hero-button" href="jury.html">Jury</a></li>
                                <li style="margin: 0"><a id="categories-button" class="scroll hero-button" href="categories.html">Categories</a></li>
                                <li style="margin: 0"><a id="schedule-button" class="scroll hero-button" href="schedule.html">Schedule</a></li>
                                <li style="margin: 0"><a id="location-button" class="scroll hero-button" href="location.html">Location</a></li>
                                <li style="margin: 0"><a id="sponsor-button" class="scroll hero-button" href="sponsors.html">Sponsors</a></li>
                                <li style="margin: 0"><a id="faq-button" class="scroll hero-button" href="faq.html">FAQ</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!--End row-->
            </div>
            <!--End container-->
        </header>
    </section>

    <div>
        <!-- CONTENT GOES HERE -->
        <%= content %>
    </div>
    <!--End hero section-->

    <footer>
        <div class="bottom-footer bg-black pt-50 pb-50">
            <!--Container-->
            <div class="container ">
                <div class="row">
                    <div class="col-lg-5 footer-copyright pb3">
                        <p> &copy; 2018 all rights reserved - an event by Hack & Söhne</p>
                    </div>
                    <div class="col-lg-2">
                        <ul class="block-social tc pb3">
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-youtube"></i></a></li>
                            <li><a href="#"><i class="icon-gplus"></i></a></li>
                            <li><a href="#"><i class="icon-instagram-1"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-5">
                        <ul class="block-legal footer-buttons pb3">
                            <li><a href="#">Privacy Policy</a>
                            <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Legal</a></li>
                            <li><span><a class="gradient-text scroll" href="#wrapper">Back To Top</a></span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--End container-->
        </div>
    </footer>
</div>
<!-- End wrapper-->
<!--Javascript-->
<script src="js/jquery-1.12.4.min.js" type="text/javascript"></script>
<script src="js/jquery.flexslider-min.js" type="text/javascript"></script>
<script src="js/jquery.countdown.min.js" type="text/javascript"></script>
<script src="js/smooth-scroll.js" type="text/javascript"></script>
<script src="js/jquery.validate.min.js" type="text/javascript"></script>
<script src="js/placeholders.min.js" type="text/javascript"></script>
<script src="js/venobox.min.js" type="text/javascript"></script>
<script src="js/instafeed.min.js" type="text/javascript"></script>
<script src="js/script.js" type="text/javascript"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbGQXiGt-6UAmOFFdSzYI-byeE7ewBuVM&callback=initializeMap"></script>
</body>
</html>
